@import 'scss/components';

.control {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.label {
  color: $black;
  font-size: $normal;
}

.input {
  height: 32px;
  border-radius: 5px;
}

